body {
    background-color:#666666;
}

h1 {
    text-align: center;
}

.jumbotron {
    border-style: solid;
    border-color: #00ff00;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
}

h2 {
    text-align: left;
}

.btn {
    background-color: #00ff00;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: black;

}

.btn:hover {
    background-color: magenta;
    border-color: black;
}

.dotbox {
    border-style: dashed;
    border-color: #777777;
    z-index: 10;
    border-width: 3px;

}

p {
    color: #777777;
}

span {
    font-size: 84px;

}